
.ipynb_checkpoints/earthquake_1990_2019_apicalls_final-checkpoint.ipynb
.ipynb_checkpoints/earthquake_prototype-checkpoint.ipynb
.ipynb_checkpoints/earthquake_prototype-Copy1-checkpoint.ipynb
.ipynb_checkpoints/earthquake_viz_alpa-checkpoint.ipynb
__pycache__/config.cpython-37.pyc
earthquake_prototype-Copy1.ipynb
earthquake_prototype.ipynb
earthquake_viz_alpa.ipynb
earthquake_working.ipynb
epa_aq_bbox_1990_2019.csv
epa_aq_mag5_7dbuff_1990_2019 - Copy (2).json
epa_aq_mag5_7dbuff_1990_2019 - Copy (3).json
epa_aq_mag5_7dbuff_1990_2019 - Copy.json
epa_aq_mag5_7dbuff_1990_2019.json
epa_aq_mag5_7dbuff_1990_2019_tester.json
final_aq.csv
final_epa_usgs_df.csv
scraps.py
test_aq.csv
usgs_mag5_1990_2019.csv
